.feedback{
	background-color: #EBECEC;
	padding: 125px 0;
	&__title{
		font-size: 1.85em;
		text-align: center;
		margin-top: 0px;
	}
	&__form{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: -45px;
	}
	input{
		width: 31%;
		border: 2px solid #00A0E3;
		border-radius: 3px;
		padding: 17px 18px;
		margin-top: 45px;
		font-size: 1.325em;
		outline: none;

		&:focus{
			border-color: $red;
		}

		&[type='number']{
			width: 16%;
		}
		&:last-of-type{
			width: 34%;
		}
	}
	button, input[type="submit"]{
		margin: 45px auto 0;
		padding: 15px 35px;
		background-color: $red;
		border-radius: 5px;
		color: white;
		font-size: 1.375em;
		border: none;

		&:hover{
			background-color: darken($red,5%);
		}
	}
}
@media only screen and (max-width: 900px) and (min-width: 635px){
	.feedback{
		padding: 20px 0;

		&__form{
			margin-top: 0;
		}
		input{
			width: 49%;
			margin-top: 5px;
			&:last-of-type{
				width: 49%;
			}
		}
		input[type="number"]{
			width: 24%;
		}
		input[name="name"]{
			margin-left: 1%;
		}
	}
}
@media only screen and (max-width: 635px){
	.feedback{
		padding: 20px 5px;

		&__form{
			margin-top: 0;
			justify-content: center;
		}
		input{
			width: 100%;
			max-width: 430px;
			margin-top: 5px;
			&:last-of-type{
				width: 100%;
			}
		}

		input[type="number"]{
			width: 45%;
			margin: 5px;
			max-width: 210px;
			
		}
	}
}
@media only screen and (max-width: 510px){
	.feedback{

		input[type="number"]{
			width: 100%;	
			max-width: 100%;
			margin: 5px 0 0px;	
		}
	}
}