.header{
	color: white;

	&__top{
		background-image: url(../pictures/header_bg.png);
		background-size: 100% 100%;
		margin-bottom: 80px;
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		align-items: top;
		padding: 20px 10px;
		justify-content: space-between;
	}
	&__logo-title{
		display: flex;
		align-items: top;
	}
	&__title{
		font-size: 1.75em;
		margin: 0px;
		margin-left: 13px;
		letter-spacing: 1px;
		font-weight: normal;
	}
}
.tagline{
	&__main{
		font-size: 1.75em;
		order: 0;
	}
	&__tags{
		display: flex;
		font-size: 1.1em;
		padding-top: 10px;
		border-top: 1px solid white;
		font-weight: 100;
	}
	&__tag{
		&:not(:first-child){
			margin-left: 10px;
		}
	}
}
.contacts{
	margin-top: -6px;
	font-size: 1.375em;
	font-weight: 500;

	.icon{
		width: 30px;
		display: inline-block;
		margin-bottom: -2px;
		font-size: .85em;
	}
	&__list{
		margin: 0px;
		padding: 0px;
	}
	&__item{
		list-style: none;
	}
	&__link{
		text-decoration: none;
		color: white;
		font-size: 0.85em;
		&:hover{
			text-decoration: underline;
		}
	}
}
.header__bottom{
	background-color: rgba(255,255,255,.9);
	width: 100%;
	position: fixed;
	top: 120px;
	z-index: 6;
	.container{
		padding: 28px 10px;
	}
}
.header__bottom_small{
	top: 0px;

	.container{
		padding: 10px;
		transition: padding 1s;
	}
}
@import 'navigation';
@media only screen and (max-width: 1130px) {
	.header{
		&__top{
			margin-bottom: 50px;
		}
		&__bottom{
			.container{
				padding: 10px;
			}
		}
	}
}
@media only screen and (max-width: 1050px){
	.header{
		font-size: .9em;
		&__top{
			background-color: #E31E24;
			margin-bottom: 50px;
		}
		&__bottom{
			.container{
				padding: 10px;
			}
		}
	}

	
}
@media only screen and (max-width: 930px){
	.header{
		font-size: 1em;
		.container{
			justify-content: space-around;
			padding: 10px;
		}
	}
	.contacts{
		border-top: 1px solid white;
		padding-top: 10px;
		margin: auto;
		width: 92%;
		margin-top: 5px;

		
		&__list{
			display: flex;
			width: 100%;
			justify-content: space-around;
		}	
		&__item:not(:first-child){
			margin-left: 15px;
		}
	}
	.header__bottom{
		top: 165px;
	}
}
@media only screen and (max-width: 860px){
	.header__bottom{
		height: 0px;
		.conainer{
			height: 0px;
		}
	}
	.header__top{
		margin-bottom: 10px;
	}
	.header .container{
		padding-right: 70px;
	}
	.tagline__tag{
		font-size: .9em;
	}
	.contacts__link{
		font-size: 0.9em;
	}
}
@media only screen and (max-width: 815px){
	.header__bottom{
		height: 0px;
	}
	.header__top .container{
		font-size: .8em;
	}
	.contacts{
		font-size: 1.2em;
	}
}
@media only screen and (max-width: 720px) and (min-width: 620px){
	.header__bottom{
		height: 0px;
	}
	.header .container{
		padding-right: 60px;
	}
	.tagline{
		&__tags{
			width: 310px;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__tag:last-child{
			margin-left: 0px;
		}
	}
	.contacts{
		display: none;
	}
}
@media only screen and (max-width: 620px){
	.header__bottom{
		height: 0px;
	}
	.header .container{
		padding-right: 10px;
		flex-direction: column;
		align-items: flex-start;
	}
	.tagline{
		margin-top: 10px;
		text-align: center;
		align-self: center;
		font-size: 1.3em;
	}
	.contacts{
		display: none;
	}

}
@media only screen and (max-width: 490px){
	.header__bottom{
		height: 0px;
	}
	.header .container{
		flex-direction: column;
		align-items: flex-start;
	}
	.tagline{
		&__tags{
			flex-wrap: wrap;
			justify-content: center;
		}
		&__tag:last-child{
			margin-left: 0px;
		}
	}

}
@media only screen and (max-width: 400px){
	.header .container{
		flex-direction: column;
	}

	.tagline{

		&__tags{
			flex-direction: column;
			justify-content: center;
		}
		&__tag{
			margin-left: 0px;
		}
	}
}

