.nav{
	width: 100%;

	&__list{
		display: flex;
		margin: 0px;
		padding: 0px;
		justify-content: space-between;
	}
	&__item{
		list-style: none;
		
	}
	&__link{
		color: #5596BF;
		font-weight: 300;
		font-size: 1.15em;

		&:hover{
			color: $red;
		}
	}
}
@media only screen and (max-width: 1150px) {

	.nav__item{
		font-size: 0.85em;
	}
}
@media only screen and (max-width: 930px){
	.nav__item{

		font-size: 0.75em;
	}
}

@media only screen and (max-width: 875px){
	.nav{
		transition: 1s;
		position: fixed;
		display: flex;
		z-index: 5;
		top: 0px;
		height: 100%;
		justify-content: center;
		text-align: center;
		right: 0px;
		right: -100%;
		background-color: #eee;
		padding: 10px;
		font-size: 1em;

		&__list{
			display: inline-block;
			margin: auto;
			font-size: 2em;
		}
		&__item:not(:first-child){
			margin-top: 10px;
		}
		&__trigger{
			padding: 5px;
			position: fixed;
			top: 10px;
			right: 10px;

			.nav__trigger-icon{
				transition: 1s;
				background-color: #fff;
				display: block;
				z-index: 6;
				width: 30px;
				height: 3px;
				border-radius: 3px;
				background-color: #fff;
				border-radius: 5px;
				
				&:not(:first-child){
					margin-top: 10px;
				}
			}
		}
		&_opened{
			right: 0px;

			.nav__trigger-icon{
				background-color: $red;
				&:first-child{
					transform: rotateZ(45deg) translateY(10px) translateX(9px);
				}
				&:nth-child(2){
					opacity: 0;	
				}
				&:nth-child(3){
					transform: rotateZ(-45deg) translateY(-10px) translateX(9px);
				}
			}
		}
	}
}
@media only screen and (max-width: 600px){
	.nav{
		font-size: .8em;
	}
}