.type-of-transport{
	padding: 85px;
	
	&__title{
		text-align: center;
		font-size: 1.85em;
		font-weight: bold;
	}
	&__list{
		flex-wrap: wrap;
		padding: 0px;
		display: flex;
		justify-content: space-between;
	}
	&__item{
		font-size: 1.1em;
		vertical-align: top;
		margin-top: 25px;
		text-align: left;
		display: inline-block;
		width: 49%;
		height: 430px;
		padding: 70px 8%;
		color: white;
		position: relative;
		transition: 1.5s;
		*{
			position: relative;
			z-index: 1;
			transition: 1s;
		}
		&:after{
			content: '';
			position: absolute;
			top: 0px;
			transition: 1s;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(84,123,157,0.7);
		}
		&:hover:after{
			opacity: 0;
		}
		h3{
			font-size: 1.75em;
			font-weight: normal;
			margin-bottom: 0;
		}

		ul{
			padding-left: 10px;
			margin: 0px;
			li{
				position: relative;
				list-style: none;
				&:before{
					display: inline;
					content: "-";
					margin-right: 5px;
					position: absolute;
					left: - 10px;
				}
			}
		}

		&:nth-child(1){
			background-image: url(../pictures/type_auto.jpg);
			background-position: -200px -100px;
			&:hover{
				background-position: -180px -100px;
			}
		}
		&:nth-child(2){
			background-image: url(../pictures/type_ship.jpg);
			background-position: -200px -200px;
			background-size: 800px 700px;
			&:hover{
				background-position: -180px -170px;
			}
			&:after{
				background-color: rgba(67,131,178,0.6);
			}
		}
		&:nth-child(3){
			background-image: url(../pictures/type_plane.jpg);
			background-position: -400px -250px;
			background-size: 1300px;
			&:hover{
				background-position: -380px -230px;
			}
			&:after{
				background-color: rgba(136,178,210,0.6);
			}
		}
		&:nth-child(4){
			background-image: url(../pictures/type_train.jpg);
			background-position: 0px -230px;
			&:hover{
				background-position: -50px -220px;
			}
			&:after{
				background-color: rgba(154,40,33,0.7);
			}
		}
		&:hover{
			*{
				opacity: 0;
			}
			.type-of-transport__link{
				opacity: 1;
				background-color: $red;
				border: none;
				transition: .3s;
				padding: 11px 21px;

				&:hover{
					background-color: lighten($red,5%);
				}
			}
		}
	}
	&__link{
		font-size: 1.3125em;
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		display: inline-block;
		margin-top: 20px;
		border: 1px solid white;
		border-radius: 5px;
		text-align: center;
	}

	&__subtext{
		text-align: center;
		display: block;
		margin-top: 40px;
		font-size: 1.3em;
	}

}
@media only screen and (max-width: 1250px){
	.type-of-transport{
		&__item{
			height: auto;
			padding-top: 20px;
		}

		&__link{
			font-size: 1em;
		}
	}
	
}
@media only screen and (max-width: 925px){
	.type-of-transport{
		h3{
			font-size: 1.2em;
		}
		&__item{
			height: auto;
		}

		&__link{
			font-size: 1em;
		}
	}
	
}
@media only screen and (max-width: 900px) and (min-width: 630px){
	.type-of-transport{
		&__item,.type-of-transport__item:nth-child(2){
			background-size: 150%;
		}
	}
}
@media only screen and (max-width: 900px){
	.type-of-transport{
		padding: 35px 0 35px;
		h3{
			font-size: 2em;
			text-align: center;
		}
		&__item,.type-of-transport__item:nth-child(2){
			width: 100%;
			height: auto;
			
		}
		&__link{
			display: block;
			width: 210px;
			margin: 10px auto;
		}
	}
	
}
@media only screen and (max-width: 440px){
	.type-of-transport{
		h3{
			font-size: 1.2em;
		}
	}
	
}