.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-mark {
	font-size:(86/10)*1rem;
	width:(61/86)*1em;
}
.icon-mobile {
	font-size:(98/10)*1rem;
	width:(61/98)*1em;
}
.icon-telephone {
	font-size:(68/10)*1rem;
	width:(62/68)*1em;
}
