.transparent-button{
	display: inline-block;
	border: 2px solid $red;
	border-radius: 5px;
	padding: 12px 75px;
	color: $red;
	text-decoration: none;
	font-size: 1.345em;
	
	&:hover{
		background-color: $red;
		color: white;
	}
}