section#about.about
	.container
		h2 15 ЛЕТ РАБОТЫ НА РЕЗУЛЬТАТ
		-for(var i=4; i; i--)
			p(class= (i%2 == 0)?'bounceInRight':'bounceInLeft' data-wow-duration="2s").wow  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur qui modi asperiores. Sint consectetur quas numquam, ratione. Voluptatem nemo recusandae natus quae fugit quaerat, explicabo maxime iure accusantium. Totam, ducimus.