section#about.about
	.container
		h2 15 ЛЕТ РАБОТЫ НА РЕЗУЛЬТАТ
		p.bounceInRight.wow  Более пятнадцати лет группа компаний «Юниверс Логистика» предоставляет услуги перевозки, хранения, упаковки, таможенной очистки международных грузов на территории всего  Евразийского континента. 
		p.bounceInLeft.wow За эти годы мы перевезли более 10 млн. тон грузов для более чем для 500  клиентов,  расположенных  во  многих странах Евразийского континента.
		p.bounceInRight.wow  Наши клиенты  это национальные  и международные компании, которые доверяют нам  быть частью своего бизнеса.   Оборудование,механизмы,   удобрения,  стройматериалы, товары широкого потребления  –  всего лишь часть того что мы доставляем  нашим клиентам. Часть наших клиентов представлена в разделе "Нас выбирают»
		p.bounceInLeft.wow  Опыт и знания, приобретенные нами за эти годы, трансформировались в профессионализм и эффективность нашей работы.  
		p.bounceInRight.wow  Мы имеем множество рекомендательных писем, в которых наши клиенты позитивно оценивают результаты нашего сотрудничества.
		p.bounceInLeft.wow  Основой нашей работы являются принципы:  Эффективность, безопасность, сотрудничество.
		p.bounceInRight.wow  В лице нашей компании Вы найдете надежного партнера, способного справиться с задачами любой сложности.
		p.bounceInLeft.wow Приглашаем Вас к сотрудничеству.