section#about.about
	.container
		h2 15 ЛЕТ РАБОТЫ НА РЕЗУЛЬТАТ
		p(data-wow-duration="2s").fadeIn.wow  Более пятнадцати лет группа компаний «Юниверс Логистика» предоставляет услуги перевозки, хранения, упаковки, таможенной очистки международных грузов на территории всего  Евразийского континента. 
		p(data-wow-duration="2s").fadeIn.wow За эти годы мы перевезли более 10 млн. тон грузов для более чем для 500  клиентов,  расположенных  во  многих странах Евразийского континента.
		p(data-wow-duration="2s").fadeIn.wow  Наши клиенты  это национальные  и международные компании, которые доверяют нам  быть частью своего бизнеса.   Оборудование,механизмы,   удобрения,  стройматериалы, товары широкого потребления  –  всего лишь часть того что мы доставляем  нашим клиентам. Часть наших клиентов представлена в разделе "Нас выбирают»
		p(data-wow-duration="2s").fadeIn.wow  Опыт и знания, приобретенные нами за эти годы, трансформировались в профессионализм и эффективность нашей работы.  
		p(data-wow-duration="2s").fadeIn.wow  Мы имеем множество рекомендательных писем, в которых наши клиенты позитивно оценивают результаты нашего сотрудничества.
		p(data-wow-duration="2s").fadeIn.wow  Основой нашей работы являются принципы:  Эффективность, безопасность, сотрудничество.
		p(data-wow-duration="2s").fadeIn.wow  В лице нашей компании Вы найдете надежного партнера, способного справиться с задачами любой сложности.
		p(data-wow-duration="2s").fadeIn.wow Приглашаем Вас к сотрудничеству.