section#feedback.feedback
	.container
		h2.feedback__title ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ ПО ДОСТАВКЕ ТОВАРА
		form(action="#" method="post").feedback__form
			input(type="text" name='from' placeholder="Откуда забрать?").zoomInUp.wow
			input(type="text" name='to' placeholder="Куда доставить?").zoomInUp.wow
			input(type="number" name='weight' placeholder="Вес (кг)").zoomInUp.wow
			input(type="number" name='weight' placeholder="Объем (м2)").zoomInUp.wow
			input(type="text" name='name' placeholder="Имя Фамилия").zoomInUp.wow
			input(type="email" name='mail' placeholder="Ваш e-mail").zoomInUp.wow
			input(type="tel" name='phone' placeholder="Контактный телефон").zoomInUp.wow
			button(type="submit").zoomInUp.wow Отправить запрос
