footer.footer
	.container
		img(src="img/redlogo.svg", alt="Univarse Logistics LLC").footer__logo-center
		.department
			h2.footer__title НАШИ ОТДЕЛЕНИЯ
			ul.department__list
				li.department__item.zoomInLeft.wow
					span 
						+icon('mark',"grey")
						|19100 Украина,<br> г. Монастырище, <br>ул. Соборная,<br> 103 офис 128
					a(href="tel:+380474625916") 
						+icon('mobile','grey')
						|+380474625916
					a(href="tel:+380673235581")
						+icon('mobile','grey')
						|+380673235581
				li.department__item.zoomInUp.wow
					span 
						+icon('mark',"grey")
						|21000, Украина,<br> г.Винница <br>ул.600-летия,<br> 17 Г офис 18
					a(href="tel:+380674747278") 
						+icon('mobile','grey')
						|+380674747278
				li.department__item.zoomInRight.wow
					span
						b Отдел таможенного оформления:
					a(href="tel:+380674061399")
						+icon('mobile','grey')
						|+380674061399
		a(href="#").footer__button.wow.bounceIn Заказать обратный звонок
		span.footer__text мы всегда рады ответить на Ваши вопросы
		.footer__row
			.footer__logo-and-title
				img(src="img/redlogo.svg", alt="Univarse Logistics LLC").footer__logo
				b Unovarse <br>Logistics 
				span LLC
			.footer__copyright
				span &copy; 2001-2016 "Universe Logistics LLS"
				br
				span Все права защищены.
			a(href="#").dev-link
				img(src="img/slavaKil.png", alt="SlavaKil Agency").dev-img
