section#offer.we-offer
	.container
		h2  МЫ ПРЕДЛАГАЕМ
		ul
			-var items = {"ПРОФЕССИОНАЛЬНЫЕ КОНСУЛЬТАЦИИ ПО ОРГАНИЗАЦИИ ЛЮБОЙ ПЕРЕВОЗКИ":"<p>от 1 паллеты до большого негабаритного груза весом в десятки тонн</p>","100% ГАРАНТИЯ ЗА СОХРАННОСТЬ ВАШЕГО ГРУЗА":"<p>мы работаем только с проверенными и постоянными контрагентами</p>","МЫ ПРЕДЛАГАЕМ":"<ul><li>конкурентные цены</li><li>строгое соблюдение сроков доставки</li><li>кредитную систему оплаты услуг и гибкую схему скидок</li></ul>","КАЖДОГО КЛИЕНТА ВЕДЕТ ПЕРСОНАЛЬНЫЙ МЕНЕДЖЕР":"<p>который изучает специфику Вашего бизнеса и нет необходимости каждый раз объяснять все детали</p>","ВОЗИМ ГРУЗЫ РАЗЛИЧНОЙ СЛОЖНОСТИ":"<p>у нас большой опыт в международных грузоперевозках практически всех типов грузов: цельных, сборных, габаритных и негабаритных</p>","ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ ":"<ul><li>страхование груза</li><li>таможенное оформление</li><li>хранение и упаковка</li><li>консультации по вопросам ВЭД</li></ul>"}
			-var i = 1
			-each index,value in items
				li(class= (i%2 == 0)?'bounceInRight':'bounceInLeft' data-wow-duration="2s").wow
					img(src="img/offer_picture#{i++}.svg", alt="text")
					h3= value
					| !{index}
		a(href="#" data-wow-duration="2s").we-offer__get-button.transparent-button.wow.flipInX Хочу сотрудничать
		span(data-wow-duration="2s").we-offer__subtext.wow.slideInUp заполние пожалуйста заявку и с Вами свяжется менеджер
