section#routes.routes
	.container
		h2.routes__title НАШИ НАПРАВЛЕНИЯ
		ul.routes__list
			-var countrys = ["Украина","Россия","Турция","Испания","Швеция","Эстония","Латвия","Литва","Германия","Италия","Польша","Румыния","Беларусия","Болгария","Швейцария","Молдова","ОАЭ","Греция","Франция","Казахстан","Китай","Индия"];
			-each country in countrys
				li.routes__item.wow.bounceIn= country
		.routes__button-cover
			a(href="#").routes__button.transparent-button.popup__show Узнать цену по направлению