section#type_of_transport.type-of-transport
	.container
		.type-of-transport__title КОМПЛЕКСНЫЕ РЕШЕНИЯ
		ul.type-of-transport__list
			li(data-wow-duration="2s").type-of-transport__item.wow.zoomIn
				h3 АВТОПЕРЕВОЗКИ
				ul
					-for(var i = 3; i; i--)
						li Перевозка сельхозтехники и негабаритный грузов.
				a(href="#").type-of-transport__link Оставить заявку
			li(data-wow-duration="2s").type-of-transport__item.wow.zoomIn
				h3 МОРСКИЕ ПЕРЕВОЗКИ
				ul
					-for(var i = 3; i; i--)
						li Перевозка сельхозтехники и негабаритный грузов.
				a(href="#").type-of-transport__link Оставить заявку
			li(data-wow-duration="2s").type-of-transport__item.wow.zoomIn
				h3 Авиаперевозки
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ipsum consectetur autem ull
				a(href="#").type-of-transport__link Оставить заявку
			li(data-wow-duration="2s").type-of-transport__item.wow.zoomIn
				h3 ЖЕЛЕЗНОДОРОЖНЫЕ ПЕРЕВОЗКИ
				p Контейнера, крытые вагоны полувагоны
				a(href="#").type-of-transport__link Оставить заявку
		span.type-of-transport__subtext Ознакомьтесь подробнее с нашими видами транспорта, выбрав одно из направлений
