section#type_of_transport.type-of-transport
	.container
		.type-of-transport__title КОМПЛЕКСНЫЕ РЕШЕНИЯ
		ul.type-of-transport__list
			li(data-wow-duration="2s").type-of-transport__item.wow.zoomIn
				h3 АВТОПЕРЕВОЗКИ
				ul
					li Перевозка сельхозтехники и негабаритных	грузов. 
					li Комплектных грузов (в т.ч. опасных) до 20т. автомобилями li тент, рефрижератор.
					li Сборных грузов от 1 паллеты. 
					li Транспортно - экспедиторское обслуживание
					a(href="#").type-of-transport__link Оставить заявку
			li(data-wow-duration="2s").type-of-transport__item.wow.zoomIn
				h3 МОРСКИЕ ПЕРЕВОЗКИ
				ul
					li Наземная доставка груза до порта отправления
					li Портовые расходы в порту отправления
					li Морской фрахт
					li Портовые расходы в порту назначения
					li Перевозка из порта до склада заказчика
					li Информационная поддержка на всех этапах
				a(href="#").type-of-transport__link Оставить заявку
			li(data-wow-duration="2s").type-of-transport__item.wow.zoomIn
				h3 Авиаперевозки
				p  Cамый быстрый способ доставки грузов в любой пункт назначения. 
				a(href="#").type-of-transport__link Оставить заявку
			li(data-wow-duration="2s").type-of-transport__item.wow.zoomIn
				h3 ЖЕЛЕЗНОДОРОЖНЫЕ ПЕРЕВОЗКИ
				p Контейнера, крытые вагоны, полувагоны, платформы
				a(href="#").type-of-transport__link Оставить заявку
		span.type-of-transport__subtext Ознакомьтесь подробнее с нашими видами транспорта, выбрав одно из направлений
